.faces-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 500px;
    grid-template-areas: 
     "a b c d"
     "a b c d"
     "a b c d"
    ;
    gap: 10px;
    text-align: right; 
}


.images {
    width: 400px;
    height: auto;
    background-position: center;
    background-size: cover;

}


.row {

    
    padding: auto;
    text-align: center;
}

