body .faces-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; /* Flexible rows */
    gap: 100px;
    text-align: right;
}


.block  img {

    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    margin: 0%;

}

.images {
    max-width: 100%;
    height: auto;
    object-fit: contain; /* Or cover, if you prefer */
}

.images::before {

    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.images > img {

    width: 100%;
    vertical-align: middle;
    
}

.row {
    padding: auto;
    text-align: center;
}

.Header {
    background-color: black;
    
}

.container {background-color: rgba(70, 70, 70, 0.452);}
html {
    height: 100%;
  }
  
  body {
    height: 100%;
  }
  
 
  
  div.container {
    height: 100%;
  }